{% extends './layout.njk' %}

{% block title %}
    Authentication
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/authentication.css">
{% endblock %}

{% block body %}
    <!-- Alert -->
    {% if alerts %}
        {% for alert in alerts %}
            <div class="alert alert-{{'danger' if alert.type == 'error' else alert.type | lower}}">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>{{alert.type | capitalize}}</strong>:
                {{ alert.message }}
            </div>
        {% endfor %}
    {% endif %}

    <!-- container div -->
    <div class="container">

        <!-- upper button section to select
			the login or signup form -->
        <div class="slider"></div>
        <div class="btn">
            <button class="login">Login</button>
            <button class="signup">Signup</button>
        </div>

        <!-- Form section that contains the
			login and the signup form -->
        <div class="form-section">

            <!-- login form -->
            <form action="/authentication/login" method="post" class="login-box">
                <input type="email" class="email ele" name="email" placeholder="youremail@email.com">
                <input type="password" class="password ele" name="password" placeholder="password">
                <button type="submit" class="clkbtn">Login</button>
            </form>

            <!-- signup form -->
            <form action="/authentication/register" method="post" class="signup-box">
                <input type="text" class="name ele" name="name" placeholder="Enter your name" minlength="3">
                <input type="email" class="email ele" name="email" placeholder="youremail@email.com">
                <input type="password" class="password ele" name="password" placeholder="password">
                <input type="password" class="password ele" name="reentered-password" placeholder="Confirm password">
                <button type="submit" class="clkbtn">Signup</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/static/js/authentication.js"></script>
{% endblock %}