{% extends './layout.njk' %}

{% block title %}
    Home
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/home.css">
{% endblock %}

{% block body %}
    <div class="box">
        <nav>
            <h2 class="logo">
                <span>UAS</span></h2>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/authentication">Login / Sign In</a>
                </li>
            </ul>
            <a href="/authentication">
                <button>Login / Sign In</button>
            </a>
        </nav>
        <div class="banner-text">
            <h1>User Authentication System</h1>
            <p>Created with <span>Expressjs</span></p>
        </div>
    </div>
{% endblock %}