{% extends './layout.njk' %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <div class="container row">
        <h3>Hi, Welcome to this User Authentication System project</h3>
        <p>
            <strong>Created with: </strong>Expressjs
        </p>
        <p>
            <strong>Auther: </strong>Ayan Das Karmakar
        </p>
    </div>
{% endblock %}