{% extends './layout.njk' %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    <div class="container row">
        <div class="jumbotron col-sm-4 pull-center">
            <form autocomplete="on" action="/authentication/register" method="post">
                <div class="form-group">
                    <label>Name:</label>
                    <input class="form-control" type="text" name="name" minlength="3" maxlength="60" required/>
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input class="form-control" type="email" name="email" required/>
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input class="form-control" type="password" name="password" minlength="8" required/>
                </div>
                <div class="form-group">
                    <label>Re-enter Password:</label>
                    <input class="form-control" type="password" name="reentered-password" minlength="8" required/>
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Register" required/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}